@using DataProvider;
@model User

@{
    ViewBag.Title = "AddPharmacist";
    
}

<link rel="stylesheet"href="~/css/AdminAddFrontExecutive.css" />

<div class="container">
    <form method="post" action="/Admin/AddPharmacist">
        <fieldset>
            <legend>Add Pharmacist:</legend>
            <div class="form-row justify-content-center">
                <div class="form-group w-50">
                    <label for="patientName">Pharmacist Name</label>
                    @Html.TextBoxFor(app => app.Name, new { type = "text", @class = "form-control", maxlength = "50", placeholder = "Enter Pharmacist Name", required = "required" })
                </div>
                <div class="form-group w-50">
                    <label for="patientPhone">Pharmacist Phone</label>
                    @Html.TextBoxFor(app => app.Phone, new { type = "number", @class = "form-control", pattern = "{0-9}[10]", placeholder = "Enter Pharmacist Phone", required = "required" })
                </div>
                <div class="form-group w-50">
                    <label for="patientDOB">Pharmacist DOB</label>
                    @Html.TextBoxFor(app => app.DOB, new { type = "date", @class = "form-control", placeholder = "Enter Pharmacist DOB", required = "required" })
                </div>
                <div class="form-group w-50">
                    <label for="patientAddress">Pharmacist Address</label>
                    @Html.TextAreaFor(app => app.Address, new { type = "text", @class = "form-control", placeholder = "Enter Appointment Address", required = "required", maxlength = "200", rows = "1" })
                </div>
                <div class="form-group w-50">
                    <label for="patientEmail">Pharmacist Email</label>
                    @Html.TextBoxFor(app => app.Email, new { type = "email", @class = "form-control", placeholder = "Enter Pharmacist Email", required = "required" })
                </div>
                <div class="form-group w-50">
                    <label for="patientPassword">Pharmacist Password</label>
                    @Html.TextBoxFor(app => app.Password, new { type = "password", @class = "form-control", placeholder = "Enter Pharmacist Password", required = "required" })
                </div>
                <div class="form-group w-50">
                    <label for="patientGender">Pharmacist Gender</label>
                    @Html.DropDownListFor(app => app.Gender, new SelectList(new List<Object> {
                new {  Value="Male" },
                new {  Value="Female" },
                new {  Value="Others" },}, "Value", "Value","Value"), new { @class = "form-control" })
                </div>
                @Html.HiddenFor(usr => usr.IsActive, new { Value = "true" })
                @Html.HiddenFor(usr => usr.RoleId, new { Value = "5" })
                <div class="form-group ">
                    <button type="submit" class="btn btn-success" onclick="return validateMobileNumber() && validatePassword() && validateEmail();">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>
    validateEmail();
    validateMobileNumber();
    validatePassword();
</script>

