@using DataProvider;
@model IEnumerable<Medicine>

@{
    ViewBag.Title = "ViewMedicines";
    
}
<div class="container" style="padding: 20px 20px 20px 20px; border-radius: 10px; margin: 5px; background-color: aquamarine;">
    <form method="post">
        <fieldset>
            <legend>View Medicines for Patient</legend>
            <div class="form-group row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Search Medicine</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Medicine Name" id="textMediName" name="textMediName" aria-label="Medicine" aria-describedby="basic-addon1" required>
                    <div class="input-group-append">
                        <button class="btn btn-success ml-1" type="submit" id="button-addon2">Search</button>
                    </div>
                    <div class="input-group-append">
                        <a class="btn btn-primary ml-1" href="/Patient/ViewMedicines" type="button" id="button-addon2">View All Medicine</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Medicine ID</th>
                <th scope="col">Medicine Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Tax</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Medicine item in Model.ToList())
            {
                <tr class="table-secondary">
                    <th scope="row">@item.MedicineId</th>
                    <td>@item.Name</td>
                    <td>₹ @item.Price</td>
                    <td>@item.Stock</td>
                    <td>@item.Tax %</td>
                </tr>
            }

        </tbody>
    </table>
</div>